{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/credits.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <h2 class="title">Credits</h2>

        <p class="text">Images - Unsplash, Pexels, </p>
        <p class="text">Icons - PixelPerfect, Fontawesome, FreePik, Goodware</p>
      </div>
    </div>
  {% endblock %}
</body>
</html>