{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <div class="s1-detail">
          <h2 class="s1-title default-colour">Bilal Uddin</h2>
          <p class="s1-text default-colour">"Everything is designed. Few things are designed well."</p>
        
          <a href="{% url 'project' %}">
            <div class="s1-btn-div btn-div">
              <button class="s1-btn layer-btn">Projects</button>
  
              <div class="btn-border"></div>
            </div>
          </a>
        </div>

        <div class="s1-awards">
          <div class="award">
            <img src="{% static 'home/imgs/award1_light.svg' %}" alt="Award" class="default-colour award-img">
            <p class="award-text default-colour">Top user experience and designs</p>
          </div>

          <div class="award">
            <img src="{% static 'home/imgs/award2_light.svg' %}" alt="Award" class="default-colour award-img">
            <p class="award-text default-colour">Modern & Trendy designs</p>
          </div>

          <div class="award">
            <img src="{% static 'home/imgs/award3_light.svg' %}" alt="Award" class="default-colour award-img">
            <p class="award-text default-colour">We promise you results from our website</p>
          </div>
        </div>
      </div>

      <div class="s2">
        <div class="s2-cont">
          <h3 class="s2-title default-colour">
            Designer / developer who can help your business achieve more.
          </h3>
  
          <p class="s2-text default-colour">
            If you need someone to help you take your business online and reach more people, then we are the people for you. We are driven to get you results and help your business hit it’s next milestone.
          </p>
        </div>
      </div>

      <div class="s3">
        <div class="s3-cont">
          <h2 class="s3-title default-colour">
            Recent Work
          </h2>
  
          <div class="s3-slider">
            {% for slider in sliders %}
            <img src="{{ slider.image.url }}" alt="Slider" class="slider-img">
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="s4">
        <h2 class="s4-title default-colour">Our process is simple</h2>

        <div class="s4-icons">
          <div class="icon">
            <img src="{% static 'home/imgs/contact.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">1. Contact</h3>

            <p class="icon-text default-colour">Send us a quick message or give us a call.</p>
          </div>
          
          <div class="icon">
            <img src="{% static 'home/imgs/discuss.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">2. Discuss</h3>

            <p class="icon-text default-colour">Discuss what you want from the website and what we can offer you. </p>
          </div>

          <div class="icon">
            <img src="{% static 'home/imgs/research.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">3. Research</h3>

            <p class="icon-text default-colour">Understanding your business needs such as target group and products / services.</p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/design.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">4. Design</h3>

            <p class="icon-text default-colour">Our team will design a prototype website based on your specifications </p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/development.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">5. Development</h3>

            <p class="icon-text default-colour">After the design approval we will start to build the site and turn your website needs in to reality </p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/deployment.svg' %}" alt="Icon" class="icon-img default-colour">

            <h3 class="icon-title default-colour">6. Deployment</h3>

            <p class="icon-text default-colour">Project is almost complete. All that is left is to finalise and deploy the website online.</p>
          </div>
        </div>

        <a href="{% url 'contact' %}">
          <div class="s2-btn-div btn-div">
            <button class="s2-btn layer-btn">Let's Talk</button>

            <div class="btn-border"></div>
          </div>
        </a>
      </div>

      <div class="s5">
        <h2 class="s5-title default-colour">Past Clients</h2>
        <p class="s5-sub default-colour">The businesses that we helped grow</p>

        <div class="s5-layout">
          <div class="client-column cc1">
            {% for client in clients1 %}
            <a href="#"><img src="{{ client.image.url }}" alt="Client" class="client-img"></a>
            {% endfor %}
          </div>

          <div class="client-column cc2">
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
          </div>

          <div class="client-column cc3">
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
          </div>

          <div class="client-column cc4">
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
          </div>

          <div class="client-column cc5">
            <a href="#"><img src="{% static 'home/imgs/boots.svg' %}" alt="Client" class="client-img"></a>
          </div>
        </div>
      </div>

      <div class="s6">
        <div class="s6-inner-container">
          <img src="{% static 'home/imgs/left.svg' %}" alt="Left" class="left-chevron chevron">

          <div class="t-card-cont">
            {% for testimonial in testimonials %}
            <div class="t-card">
              <div class="left-t-card">
                <h2 class="t-rating">{{ testimonial.rating }}</h2>
                <img src="{% static 'home/imgs/stars.svg' %}" alt="Stars" class="t-stars">
              </div>

              <div class="right-t-card">
                <img src="{% static 'home/imgs/quotes.svg' %}" alt="Quotes" class="t-quotes">

                <p class="t-text">{{ testimonial.quote }}</p>

                <p class="t-name">{{ testimonial.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>

          <img src="{% static 'home/imgs/right.svg' %}" alt="Right" class="right-chevron chevron">
        </div>
      </div>
    </div>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="{% static 'home/app.js' %}"></script>
  {% endblock %}
</body>
</html>