{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <div class="s1-detail">
          <h2 class="s1-title">Bilal Uddin</h2>
          <p class="s1-text">"Everything is designed. Few things are designed well."</p>
        
          <a href="">
            <div class="s1-btn-div btn-div">
              <button class="s1-btn layer-btn">Projects</button>
  
              <div class="btn-border"></div>
            </div>
          </a>
        </div>

        <div class="s1-awards">
          <div class="award">
            <img src="{% static 'home/imgs/award1_light.svg' %}" alt="Award" class="award-img">
            <p class="award-text">Top user experience and designs</p>
          </div>

          <div class="award">
            <img src="{% static 'home/imgs/award2_light.svg' %}" alt="Award" class="award-img">
            <p class="award-text">We regularly hit Top-5 Trending </p>
          </div>

          <div class="award">
            <img src="{% static 'home/imgs/award3_light.svg' %}" alt="Award" class="award-img">
            <p class="award-text">We promise you results from your website</p>
          </div>
        </div>
      </div>

      <div class="s2">
        <div class="s2-cont">
          <h3 class="s2-title">
            Designer / developer who can help your business achieve more.
          </h3>
  
          <p class="s2-text">
            If you need someone to help you create an online presence so your ideas can reach more people, then we are the people for you. We are driven to get you results and help your business hit it’s next milestone.
          </p>
        </div>
      </div>

      <div class="s3">
        <div class="s3-cont">
          <h2 class="s3-title">
            Recent Work
          </h2>
  
          <div class="s3-slider">
            <img src="{% static 'home/imgs/lake.jpg' %}" alt="Slider" class="slider-img">
            <img src="{% static 'home/imgs/lake.jpg' %}" alt="Slider" class="slider-img">
            <img src="{% static 'home/imgs/lake.jpg' %}" alt="Slider" class="slider-img">
          </div>
        </div>
      </div>

      <div class="s4">
        <h2 class="s4-title">Our process is simple</h2>

        <div class="s4-icons">
          <div class="icon">
            <img src="{% static 'home/imgs/contact.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">1. Contact</h3>

            <p class="icon-text">Send us a quick message or give us a call.</p>
          </div>
          
          <div class="icon">
            <img src="{% static 'home/imgs/discuss.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">2. Discuss</h3>

            <p class="icon-text">Discuss what you want from the website and what we can offer you. </p>
          </div>

          <div class="icon">
            <img src="{% static 'home/imgs/research.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">3. Research</h3>

            <p class="icon-text">Understanding your business needs such as target group and products / services.</p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/design.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">4. Design</h3>

            <p class="icon-text">Our team will design a prototype website based on your specifications </p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/development.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">5. Development</h3>

            <p class="icon-text">After the design approval we will start to build the site and turn your website needs in to reality </p>
          </div>

          <div class="icon icon-btm">
            <img src="{% static 'home/imgs/deployment.svg' %}" alt="Icon" class="icon-img">

            <h3 class="icon-title">6. Deployment</h3>

            <p class="icon-text">Project is almost complete. All that is left is to finalise and deploy the website online.</p>
          </div>
        </div>

        <a href="">
          <div class="s2-btn-div btn-div">
            <button class="s2-btn layer-btn">Lets Talk</button>

            <div class="btn-border"></div>
          </div>
        </a>
      </div>
    </div>
  {% endblock %}
</body>
</html>