{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">

  {% block head %}
  <title>ADD A BLOCK</title>
  {% endblock %}
</head>
<body class="">
  <div class="base-container">
    <nav>
      <div class="navigation">
        <img src="{% static 'base/imgs/logo.svg' %}" alt="Logo" class="logo">

        <ul>
          <a href="{% url 'index' %}"><li class="home default-colour">Home</li></a>
          <a href="{% url 'project' %}"><li class="portfolio default-colour">Portfolio</li></a>
          <a href="{% url 'contact' %}"><li class="contact default-colour">Contact</li></a>

          <li class="color-mode color-mode-btn sun-btn"><img src="{% static 'base/imgs/sun_goodware.svg' %}" alt="Sun"></li>

          <li class="color-mode color-mode-btn moon-btn color-mode-deactive"><img src="{% static 'base/imgs/moon.svg' %}" alt="Moon"></li>
                    
        </ul>
      </div>

      <div class="nav-dropdown">
        <div>
          <a href="{% url 'index' %}"><li class="home">Home</li></a>
          <a href="{% url 'project' %}"><li class="portfolio">Portfolio</li></a>
          <a href="{% url 'contact' %}"><li class="contact">Contact</li></a>
        </div>
      </div>

      <div class="phone-navigation">
        <img src="{% static 'base/imgs/logo.svg' %}" alt="Logo" class="logo">

        <img src="{% static 'base/imgs/hamburger.svg' %}" alt="Hamburger" class="hamburger">
      </div>
    </nav>


  </div>

  {% block content %}
    ADD A CONTENT BLOCK
  {% endblock %}

  <div class="base-container">
    <footer>
      <div class="top-footer">
        <div class="top-left-footer">
          <h2 class="footer-title">Interested In A Collaboration?</h2>

          <p class="footer-text">
            eu ultrices vitae auctor eu augue ut lectus
          </p>
        </div>

        <a href="{% url 'contact' %}" class="footer-btn-link"><button class="footer-btn" style="cursor: pointer;">Let’s Talk</button></a>
      </div>

      <hr>

      <div class="bottom-footer">
        <div class="bottom-left-footer">
          <p class="f-telephone"><b>T.</b> +44 7877 407580</p>
          <p class="f-email"><b>E.</b> bilaluddin474@gmail.com</p>
        </div>

        <div class="bottom-right-footer">
          <div class="f-about">
            <h4>About Us</h4>

            <a href="{% url 'index' %}"><p>Testimonials</p></a>
            <a href="{% url 'project' %}"><p>Projects</p></a>
            <a href="{% url 'index' %}"><p>What We Do</p></a>
            <a href="{% url 'credits' %}"><p>Credits</p></a>
          </div>

          <div class="f-follow">
            <h4>Follow Us</h4>

            <a href="https://www.facebook.com/profile.php?id=100071337391234" target="__blank"><p>Facebook</p></a>
            <a href="https://www.instagram.com/tangoprotocol/" target="__blank"><p>Instagram</p></a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
  <script src="{% static 'base/base.js' %}"></script>
</body>
</html>