/* SECTION 1 */

.s1-title {
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 81px;
  /* identical to box height */

  color: #ffffff;
}

.s1-text {
  width: 581px;
  font-style: italic;
  font-size: 24px;
  line-height: 132.69%;
  /* or 32px */

  color: #ffffff;
  margin-top: 10px;
}

.layer-btn {
  width: 250px;
  height: 56.25px;

  background: #bf2c53;
  border-radius: 3px;

  font-size: 24px;
  line-height: 29px;
  cursor: pointer;

  color: #ffffff;
  border: none;
}

.btn-border {
  position: relative;
  z-index: -2;
  bottom: 40px;
  right: 17px;
  width: 250px;
  height: 56.25px;

  border: 2px solid #9b234d;
  box-sizing: border-box;
  border-radius: 3px;
}

.s1-detail {
  margin-left: 80px;
}

.btn-div {
  margin-left: 17px;
  margin-top: 60px;

  width: fit-content;
  height: 76px;
}

.s1 {
  margin-top: 66px;
}

.s1 a {
  cursor: default;
}

.award {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.award-text {
  width: 208px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);
  margin-top: 33px;
}

.s1-awards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 135px;
}

/* SECTION 2 */

.s2-title {
  width: 356px;

  font-family: Martel;
  font-weight: bold;
  font-size: 32px;
  line-height: 54px;

  color: #ffffff;
}

.s2-text {
  width: 544px;

  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.s2-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 87.5%;
  margin: 0 auto;
}

.s2 {
  margin-top: 144px;
}

/* SECTION 3 */

.slider-img {
  width: 640px;
  height: 360px;
  object-fit: cover;

  border-radius: 5px;
}

.s3 {
  margin-top: 144px;
}

.s3-title {
  width: 100%;
  text-align: center;
  font-family: Martel;
  font-weight: bold;
  font-size: 48px;
  line-height: 81px;

  color: #ffffff;
}

.s3-slider {
  position: relative;
  left: -410px;
  display: flex;
  justify-content: space-between;
  width: 2100px;
  margin: 0 auto;
  margin-top: 45px;
}

/* SECTION 4 */

.s4 {
  margin-top: 144px;
}

.s4-title {
  width: 100%;
  text-align: center;

  font-family: Martel;
  font-weight: bold;
  font-size: 48px;
  line-height: 81px;
  /* identical to box height */

  color: #ffffff;
}

.icon-title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;

  color: #ffffff;
  margin-top: 15px;
}

.icon-text {
  width: 271px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  margin-top: 35px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s4-icons {
  margin-top: 66px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.icon-btm {
  margin-top: 22px;
}

.layer-btn {
  width: 250px;
  height: 56.25px;

  background: #bf2c53;
  border-radius: 3px;

  font-size: 24px;
  line-height: 29px;
  cursor: pointer;

  color: #ffffff;
  border: none;
}

.s2-btn-div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 17px;
  margin-top: 60px;

  width: fit-content;
  height: 76px;
}

/* SECTION 5 */

.s5 {
  margin-top: 144px;
}

.s5-title {
  width: 100%;
  text-align: center;

  font-family: Martel;
  font-weight: bold;
  font-size: 48px;

  color: #ffffff;
}

.s5-sub {
  width: 100%;
  text-align: center;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.s5-layout {
  width: 85%;
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.client-img {
  width: 170px;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;

  transition: 0.1s ease-out;
}

.client-img-hover {
  width: 200px;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;

  transition: 0.1s ease-in;
}

/* SECTION 6 */

.s6 {
  margin-top: 144px;
}

.s6-inner-container {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-card {
  width: 900px;
  height: 500px;

  background: linear-gradient(
    96.65deg,
    #9d002a -4.5%,
    rgba(30, 38, 41, 0) 105.32%
  );
  border-radius: 5px;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.left-t-card {
  width: 220px;
  height: 410px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1.5px solid #b3b3b3;
}

.t-rating {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}

.t-stars {
  margin-top: 15px;
}

.right-t-card {
  margin-left: 60px;
}

.t-text {
  width: 533px;

  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;

  margin-top: 15px;
}

.t-name {
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  margin-top: 30px;
}

.chevron {
  cursor: pointer;
}

/* Card Setup */

.t-card {
  display: none;
}

.active-card {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .s2-title {
    font-size: 26px;
  }

  .s2-text {
    margin-left: 25px;
  }

  .s4-icons {
    margin-top: 66px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .cc1,
  .cc5 {
    display: none;
  }

  .s5-layout {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .t-card {
    width: 550px;
  }

  .t-text {
    font-size: 21px;
    width: 90%;
  }

  .t-quotes {
    object-fit: cover;
    width: 50px;
  }

  .t-name {
    font-size: 18px;
  }

  .t-rating {
    font-size: 48px;
  }

  .t-stars {
    margin-right: 20px;
    margin-left: 20px;
    object-fit: cover;
  }

  .right-t-card {
    margin-left: 30px;
  }

  .chevron {
    width: 55px;
  }
}

@media screen and (max-width: 750px) {
  .s1-detail {
    margin-left: 0px;
  }

  .s1-title {
    width: 100%;
    text-align: center;
  }

  .s1-text {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    line-height: 152%;
  }

  .btn-div {
    margin: 0 auto;
    margin-top: 45px;
  }

  .s1-awards {
    margin-top: 20px;
    flex-direction: column;
  }

  .award {
    margin-top: 50px;
  }

  .s2-cont {
    flex-direction: column;
  }

  .s2-title,
  .s2-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .s2-text {
    margin-top: 50px;
  }

  .s2 {
    margin-top: 60px;
  }

  .slider-img {
    width: 320px;
    height: 180px;

    margin-top: 35px;
  }

  .s3-slider {
    left: 0px;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;

    align-items: center;
  }

  .s4-icons {
    margin-top: 66px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .s5-sub {
    width: 90%;
    margin: auto auto;
  }

  .s5-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cc4 {
    display: none;
  }

  .t-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-t-card {
    border-right: none;
    border-bottom: 1.5px white solid;
  }

  .t-stars {
    padding-bottom: 15px;
  }

  .t-quotes {
    display: none;
  }

  .t-text {
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
  }

  .right-t-card {
    margin: 0px;
  }

  .s6 {
    display: none;
  }
}
